* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 5rem 4rem;*/
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;

    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a.activate,
.navbar a:hover {
    color: burlywood;
    font-weight: bold;
}
.logo a{
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
}
li a{ 
    color: white;
    font-size: bold;
    margin-right: 70px;
}
button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 4rem;
    background-color: black;
}
.hero-text h2 {
    font-size: 3rem;
    font-weight: 600;
}
.hero-text h1 {
    font-size: 5rem;
    font-weight: 800;

    transition-duration: 2s;
    transition-timing-function: ease-out;
}
.hero-text h1:hover {
    color: #ac7c46;
}

.hero-image img {
    display: block;
    margin-left: auto;
    margin-right: 80px;
    width: 400px;
    border-radius: 40px;
}

/*Footer*/
.footer {
    background-color: #745738;
    padding: 2em 4rem;
    /*padding-top: 2em;
    padding-bottom: 3em;*/
}
.footer h3 {

    font-size: 3rem;
    font-weight: bold;
}
.footer p {
    font-size: 1.3rem;
}